/* Hide top navigation bar */
[data-layered-cinema="on"] #masthead-container {
  display: none !important;
}

/* Hide sidebar content but not our injected toggle */
[data-layered-cinema="on"] #secondary #chips,
[data-layered-cinema="on"] #secondary #contents {
  visibility: hidden !important;
}

/* Hide below-video content (metadata, comments) */
[data-layered-cinema="on"] #below,
[data-layered-cinema="on"] #chat-container,
[data-layered-cinema="on"] ytd-watch-metadata {
  visibility: hidden !important;
}
